*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
.container{
    display:grid;
    grid-template-columns: 17% 22% 22% 22% 17% ;
    grid-template-rows: 425px 425px;
    background-repeat: no-repeat;
    background-image: url('images/taj_mahal.jpg');
    background-size: cover;    
}
.container:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.70);
    filter: brightness(50%);
}

.box{
    border:1px solid rgb(236, 233, 233);
}
h1{
    color:rgb(224, 221, 221);
    position: relative;
    text-align:left ; 
    font-size: 45px;
    padding:100px 30px;
}
h2{
    color:rgb(236, 163, 5);
    position: relative;
    margin:40px 25px 40px;
}
p{
    position: relative;
    color:rgb(226, 221, 221);
    margin:0px 30px;
    line-height: 1.5;
}
.Q{
    text-decoration: underline;
    margin:10px;

}
 