@import "variable";
@import "container";
@import "box";


*{
    font-family: arial;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}

.wrapper{
    height:100%;
    width:100%;
    display:flex;
    flex-wrap: wrap; 
    
    .box5,h2{
        padding:0px 30px;
    }
}

.box1,.box6,.box7,.box12{
    border:none;
}
.box8,.box9,.box10,.box11{
    border-bottom: none;
}
.box2,.box3,.box4,.box8,.box9,.box10{
    border-right: none;
}

